#banner {
    background-image: url("../Img/placeholderBanner.png");
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
}

nav {
    background-color: black;
}

.row {
    margin-bottom: 20px;
}